<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
<h2>We Only Sell Cool Bikes</h2>
<%= image_tag ("bike.jpg") %>

<br>
<br>

 <div class="container">
<div class="products_list">
 <div class="row">
        <div class="col-md-3 col-sm-6">
        <%= image_tag("bluebike.jpg", class: "img-responsive") %>
        <h1><a>Big Blue Bike</a></h1>
        <p>Very Blue</p>
        <strong>price: $100.0</strong>
  </div>
  <div class="col-md-3 col-sm-6">
        <img class="img-responsive" src="/assets/motorbike.jpg" alt="motorbike" />
        <h1><a>Green Motor Bike</a></h1>
        <p>Very Military-Like</p>
        <strong>price: $1500.0</strong>
  </div>
  <div class="col-md-3 col-sm-6">
        <img class="img-responsive" src="/assets/rainbowbike.jpg" alt="rainbowbike" />
        <h1><a>Rainbow Bike</a></h1>
        <p>Colorful and Fruity</p>
        <strong>price: $300.0</strong>
  </div>
 </div>
</div>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

